<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<p class="flash"><%= flash.notice %></p>
=======
>>>>>>> 54e7b5d5d692db0a462a0a439af1234d235083d5

<%= yield %>

</body>
</html>
